@import "./common.scss";
@import "./dropload.scss";
@import "./refund-foot.scss";
.refund-list-warp{
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding:0 30px 140px 30px;
    overflow-y:scroll;
    .refund-list{
      width:100%;
      .refund-one{
          position: relative;
            width:100%;
            background:rgba(255,255,255,1);
            box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            border-radius:16px;
            margin-top:20px;
            height:200px;
            box-sizing: border-box;
            padding:29px 31px 28px 30px;
            .refund-nav{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width:100%;
                height:100%;
                .refund-one-msg{
                    display: flex;
                    flex-flow:column nowrap;
                    justify-content: space-between;
                    height:100%;
                    flex-basis: 60%;
                    .title{
                        line-height:28px;
                        font-size:30px;
                        font-weight:500;
                        color:rgba(0,0,0,1);
                    }
                    .refund-user-msg{
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        .refund-msg-details{
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;
                            .title{
                                line-height:23px;
                                font-size:24px;
                                font-weight:500;
                                color:rgba(153,153,153,1);
                            }
                            .refund-details{
                                line-height:23px;
                                font-size:24px;
                                font-weight:500;
                                color:rgba(102,102,102,1);
                            }
                        }
                        .refund-msg-details:nth-child(1){ 
                            margin-bottom:28px;
                            .title{
                                margin-right:51px;
                            }
                        }
                        .refund-msg-details:nth-child(2) .title{
                            margin-right:28px;
                        }
                    }
                }
                .refund-one-result{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    flex-basis: 40%;
                    height:100%;
                }
                .passed::after{
                    content:"";
                    display: block;
                    width:120px;
                    height:58px;
                    background-image: url("../images/refund-collect-icon.png");
                    background-repeat: no-repeat;
                    background-size: 404px 144px;
                    background-position: -140px 0px;
                }
                .returned::after{
                    content:"";
                    display: block;
                    width:120px;
                    height:58px;
                    background-image: url("../images/refund-collect-icon.png");
                    background-repeat: no-repeat;
                    background-size: 404px 144px;
                    background-position: -140px -60px;
                }
                .dealing::after{
                    content:"审批中";
                    display: block;
                    line-height:25px;
                    font-size:26px;
                    font-weight:500;
                    color:rgba(0,136,255,1);
                }
                .arrow-right{
                    position: absolute;
                    top:34px;
                    right:30px;
                    width:12px;
                    height:21px;
                    background-image: url("../images/refund-collect-icon.png");
                    background-repeat: no-repeat;
                    background-size: 404px 144px;
                    background-position: 0 0;
                }
            }
        }
    }
}