@import "common.scss";

.repair-list-warp{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  .repair-list-cont{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 140px;
    box-sizing: border-box;
  }
  .repair-list-main{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    .tab{
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 80px;
      line-height: 80px;
      box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
    }
    .tab .item{
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      font-size: 30px;
      text-align: center;
      color: #333;
      text-decoration: none;
    }
    .tab .cur{
      height: 80px;
      //border-bottom: 2px solid #008ce6;
      color: #008ce6;
      .item-label{
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          left: -10px;
          right: -10px;
          height: 4px;
          background: #008ce6;
        }
      }
    }
    .content{
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background-color: #FAFAFA;
    }
    .content .item{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align:center;
      -webkit-box-align:center;
      box-align:center;
      -webkit-align-items:center;
      align-items:center;
      padding: 20px 30px 0;
      color: #333;
    }
    .item-label{
      position: relative;
      display: inline-block;
      line-height: 80px;
    }
    .item-inner{
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px 0px
      rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      a{
        display: block;
      }
    }
    .tab-title{
      position: relative;
      width: 100%;
      height: 80px;
      padding: 0 28px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      font-size: 26px;
      font-weight: normal;
      &:after{
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid #ccc;
        color: #ccc;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
      .title-text{
        flex: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        color: #000;
      }
      .status{
        width: 110px;
        font-size: 30px;
        color: #ccc;
        text-align: right;
      }
      .isdeal{
        width: 110px;
        font-size: 30px;
        text-align: right;
        color: #008ce6;
      }
      .appraise{
        width: 110px;
        font-size: 30px;
        text-align: right;
        color: #e69200;
      }
    }
    .tab-main{
      padding: 20px 30px 20px;
    }
    .tab-main-times{
      font-size: 24px;
      color: #999999;
    }
    .tab-main-describe{
      margin-top: 20px;
      .times-name{
        font-size: 26px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 36px;
        letter-spacing: 0px;
        color: #666666;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
    .tab-main-btn{
      //margin-top: 20px;
      padding: 0 30px 20px;
      text-align: right;
      .btn-primary{
        padding: 0 36px;
        height: 48px;
        background-color: #008ce6;
        border-radius: 24px;
        color: #fff;
        font-size: 24px;
      }
    }

    .opacity{
      -webkit-animation: opacity 0.3s linear;
      animation: opacity 0.3s linear;
    }
    @-webkit-keyframes opacity {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    @keyframes opacity {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
  }

  .repair-list-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px 0px
    rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .btn-submit{
    padding: 0;
    display: block;
    width: 100%;
    height: 80px;
    color: #fff;
    font-size: 34px;
    border-radius: 8px;
    background-color: #008ce6;
    transition-duration: .3s;
    &:disabled{
      background-color: #ddd;
    }
    &:active{
      background-color: #0067a8;
    }
  }
}